:root{
    font-family: 'Oswald';
    --e-light: 200;
    --light: 300;
    --regular: 400;
    --medium: 500;
    --semi-bold: 600;
    --bold: 700;
    font-weight : var(--regular );
    color: white;
}
body,html{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
body{
    background-color: #0E0E0E;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 100%;
    background-color: #12121281;
}
nav > div{
    margin-left: 0.5em;
}
nav > div > a{
    margin: 0 0.5em;
    text-decoration: none;
    font-size: 1.25em;
    color: white;
}
nav > h2{
    margin: 0.75em;
    font-size: 1.5em;
    font-weight : var(--medium);
}
nav > h2::after{
    content: '|';
    position: relative;
    left: 17.5px;
}
main{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}
main > div{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    filter: brightness(0.75);
    background-image: url(img/kaisa.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200Vh;
}
main > span{
    position: absolute;
    top: 17.5%;
    text-align: center;
}
main > span > h3, main > span > h1{
    font-weight: var(--regular);
}
main > span  > h1{
    font-size: 10em;
    margin-bottom: 0;
}
main > span > h3{
    font-size: 5em;
    font-weight: var(--light);
    margin-top: 0;
}

nav > div > a::before{
    content: ' ';
    z-index: 3;
    position: absolute;
    bottom: 10px;
    height: 2px;
    background-color: #AD0E97;
    transition: all 300ms ease;
    transform: scaleX(0);
    transform-origin: center bottom;
}
nav > div > a:hover:before{
    transform: scaleX(1);
}
.short::before{
    width: 40px;
}
.long::before{
    width: 65px;
}