:root{
    font-family: 'Oswald';
    --e-light: 200;
    --light: 300;
    --regular: 400;
    --medium: 500;
    --semi-bold: 600;
    --bold: 700;
    font-weight : var(--regular );
    color: white;
}
body,html{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(37, 37, 37);
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 100%;
    background-color: #121212;
}
nav > div{
    margin-left: 0.5em;
}
nav > div > a{
    margin: 0 0.5em;
    text-decoration: none;
    font-size: 1.25em;
    color: white;
}
nav > h2{
    margin: 0.75em;
    font-size: 1.5em;
    font-weight : var(--medium);
}
nav > h2::after{
    content: '|';
    position: relative;
    left: 17.5px;
}
main{
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 100%;
    height: 100%;
}
main > div{
    position: absolute;
    width: 100%;
    height: 50%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    filter: brightness(0.75);
    background-image: url(img/kaisa.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
}
main > span{
    position: absolute;
    top: 17.5%;
    text-align: center;
}
main > span > h3, main > span > h1{
    font-weight: var(--regular);
}
main > span  > h1{
    font-size: 2.5em;
}
main > span > h3{
    font-size: 1.25em;
}
@media only screen and (max-width: 650px){
    main > div{
        background-size: 200vw;
        background-position: bottom;
    }
}